.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  width: 50%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

